ul {
    margin: 0px;
    padding: 0px;
    width: 25%;
    height: 100%;
    position: fixed;
    list-style-type: none; /*移除列表前小标志。一个导航栏并不需要列表标记*/
    background-color: #f1f1f1;
}

li a {
    display: block;
    width: 100%;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}