<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <style type="text/css">
        h1 {
            color: red;
        }

        p {
            color: blue;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<style>

    body {
        background-color: white;
    }

    h1 {
        color: orange;
    }

    p {
        font-family: "times new roman";
        font-size: 20px;
    }

</style>

<div id="container" style="width: 100px"></div>

<h1>H1是不是红色的呢</h1>

<p>P呢 是不是应该是蓝色呢</p>

<img src="1.jpg" alt="some_text" width="200" height="200">

<br>

<a href="www.baidu.com" style="text-decoration: none">百度一下</a>

<br>

<table border="1">
    <tr>
        <th>表单头</th>

    </tr>

    <tr>
        <td>表单1</td>
        <td>表单1</td>
        <td>表单1</td>
        <td>表单1</td>
    </tr>

    <tr>
        <td>表单2</td>
        <td>表单3</td>
        <td>表单4</td>
        <td>表单5</td>
    </tr>

</table>


<br>

<!--ol是有序列表-->

<ul>
    <li>ol 定义有序列表</li>
    <li>ul 定义无序列表</li>
    <li>li 定义列表项</li>
    <li>dl 定义列表</li>
    <li>dt 自定义列表项目</li>
    <li>dd 定义自定列表项的描述</li>

</ul>


<iframe src="www.baidu.com" width="200" height="200"></iframe>
<br>
<iframe src="demo_iframe.htm" name="iframe_a"></iframe>
<p><a href="http://www.runoob.com" target="iframe_a">RUNOOB.COM</a></p>

</body>
</html>