<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloworld</title>
    <style type="text/css">
        h1 {
            color: red;
        }

        p {
            color: blue;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>

<h1>H1是不是红色的呢</h1>

<p>P呢 是不是应该是蓝色呢</p>

<img src="1.jpg" alt="some_text" width="200" height="200">

<br>

<a href="www.baidu.com" style="text-decoration: none">百度一下</a>

</body>
</html>